

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background: rgb(226, 232, 235);
    position: relative;
}

img {
    max-width: 100%;
    
    border-radius: 20px;
}

.container {
    background: white;
    width: 20rem;
    height: 30rem;
    position: absolute;
    top: -50%;
    left: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 15px;
}
.content {
    text-align: center;
    padding: 2px 20px;
}
