
* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: rgb(202, 214, 221);
    
}

.card {
    width: 50%;
    max-width: 330px;
    height: 80%;
    max-height: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
}

.image {
    object-fit: cover;
    width: 330px;
    height: 280px;
    padding: 15px;
    border-radius: 25px;
}

.content {
    width: 330px;
    text-align: center;
}

