
* {
    box-sizing: border-box;
}

body {
    position: relative;
    background: rgb(226, 232, 235);
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.card {
    position: absolute;
    background: white;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 20%);
}

.content {
    padding-inline: 10px;
}

h3 {
    font-size: 23px;
}
